<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.AccountMapper">
	<resultMap id="AccountWithAuthority" type="com.example.demo.entity.Account">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="hashed_password" property="hashedPassword"/>
		<result column="display_name" property="displayName"/>
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="authority" property="authority" javaType="com.example.demo.entity.Role"/>
	</resultMap>
	<select id="getAccountById" resultMap="AccountWithAuthority">
		SELECT 
		 id,
		 name,
		 hashed_password,
		 display_name,
		 authority, 
		 created_at,
		 updated_at
		FROM accounts 
		WHERE id = #{id} 
	</select>
	<select id="getAccountByName" resultMap="AccountWithAuthority">
		SELECT 
		 id,
		 name,
		 hashed_password,
		 display_name,
		 authority, 
		 created_at,
		 updated_at 
		FROM accounts 
		WHERE name = #{name}
	</select>
	<select id="getAccountByDisplayName" resultMap="AccountWithAuthority">
		SELECT 
		 id,
		 name,
		 hashed_password,
		 display_name,
		 authority, 
		 created_at,
		 updated_at
		FROM accounts 
		WHERE display_name = #{displayName}
	</select>
	<insert id="insertAccount" parameterType="com.example.demo.entity.Account" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO accounts(
		 name, 
		 hashed_password, 
		 display_name, 
		 authority, 
		 created_at, 
		 updated_at
		 )
		VALUES(
		 #{name},
		 #{hashedPassword},
		 #{displayName},
		 #{authority},
		 CURRENT_TIMESTAMP,
		 CURRENT_TIMESTAMP
		 )
	</insert>
	<update id="updateAccount" parameterType="com.example.demo.entity.Account">
		UPDATE accounts 
		SET name = #{name} ,
			hashed_password = #{hashedPassword},
			display_name = #{displayName},
			updated_at = CURRENT_TIMESTAMP
		WHERE id = #{id} 
		AND updated_at = #{updatedAt} 
	</update>
	<delete id="deleteAccountById" parameterType="com.example.demo.entity.Account">
		DELETE FROM accounts 
		WHERE id = #{id} 
	</delete>
</mapper>